name: coverage

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  tests:
    runs-on: ubuntu-latest

    name: Code Coverage

    steps:
      - name: Checkout code
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0

      - name: Setup PHP
        uses: shivammathur/setup-php@2.11.0
        with:
          php-version: '7.4'
          coverage: pcov

      - name: Install dependencies
        run: composer update --no-interaction --prefer-source

      - name: Execute tests
        run: vendor/bin/phpunit --coverage-clover=coverage.clover

      - name: Code Coverage
        run: vendor/bin/ocular code-coverage:upload --format=php-clover coverage.clover
