name: tests

on:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest

    name: JavaScript tests

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v2.5.0
        with:
          node-version: 14

      - name: Installing dependencies
        run: npm ci

      - name: Execute gulp build
        run: gulp build

      - name: Execute bundlewatch
        run: npm run bundlewatch
