name: tests

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * *'

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        laravel: ['6', '7', '8', '9', '10']
        php: ['7.4', '8.0', '8.1', '8.2']
        exclude:
          - { laravel: '6', php: '8.1' }
          - { laravel: '6', php: '8.2' }
          - { laravel: '7', php: '8.1' }
          - { laravel: '7', php: '8.2' }
          - { laravel: '9', php: '7.4' }
          - { laravel: '10', php: '7.4' },
          - { laravel: '10', php: '8.0' }

    name: PHP ${{ matrix.php }} Laravel ${{ matrix.laravel }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          ini-values: error_reporting=E_ALL
          coverage: pcov

      - name: Setup Problem Matchers
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Select Laravel 6
        uses: nick-invision/retry@v2.8.2
        with:
          timeout_minutes: 5
          max_attempts: 5
          command: composer require "laravel/framework:6.*" "phpunit/phpunit:^8.5.8|^9.3.7" --no-update --no-interaction
        if: "matrix.laravel == '6'"

      - name: Select Laravel 7
        uses: nick-invision/retry@v2.8.2
        with:
          timeout_minutes: 5
          max_attempts: 5
          command: composer require "laravel/framework:7.*" "phpunit/phpunit:^8.5.8|^9.3.7" --no-update --no-interaction
        if: "matrix.laravel == '7'"

      - name: Select Laravel 8
        uses: nick-invision/retry@v2.8.2
        with:
          timeout_minutes: 5
          max_attempts: 5
          command: composer require "laravel/framework:8.*" "phpunit/phpunit:^9.3.7" --no-update --no-interaction
        if: "matrix.laravel == '8'"

      - name: Select Laravel 9
        uses: nick-invision/retry@v2.8.2
        with:
          timeout_minutes: 5
          max_attempts: 5
          command: composer require "laravel/framework:9.*" "phpunit/phpunit:^9.3.7" --no-update --no-interaction
        if: "matrix.laravel == '9'"

      - name: Install PHP Dependencies
        uses: nick-invision/retry@v2.8.2
        with:
          timeout_minutes: 5
          max_attempts: 5
          command: composer update --no-interaction --no-progress

      - name: Execute tests
        run: vendor/bin/phpunit --coverage-clover clover.xml

      - name: Check code coverage
        uses: codecov/codecov-action@v3
        if: "matrix.php == '8.1' && matrix.laravel == '9'"
